apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: {{ item.name }}-ingress
  namespace: external-services
spec:
  entryPoints:
    - websecure
  routes:
    - match: Host(`{{ item.ingress_domain }}`)
      kind: Rule
      services:
      - name: external-{{ item.name }}-http
        port: {{ item.service_port }}
      middlewares:
        - name: kube-system-traefik-sso@kubernetescrd
  tls:
    certResolver: {{ ingress_issuer }}
    domains:
      - main: "{{ item.ingress_domain }}"
    options: {}
